<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="http://demo.edong.com/news.php?cls_id=5" target="_blank">最新公告</a></li>
        <li class="nav-item"><a class="nav-link" href="http://demo.edong.com/pay.php" target="_blank">付款方式</a></li>
        <li class="nav-item"><a class="nav-link" href="http://demo.edong.com/contact.php" target="_blank">联系我们</a></li>
        <li class="nav-item"><a class="nav-link" href="http://demo.edong.com" target="_blank">EDONG手机</a></li>
      </ul>
      
      <form class="form-inline">
        <a [routerLink]="['/login']" class="btn btn-outline-info ml-3">登录</a>
        <a [routerLink]="['/domain/login']" class="btn btn-outline-info ml-3">域名登录</a>
      </form>
    </div>
  </div>
</nav>

<div class="container mb-4">
  <div class="row justify-content-between">
    <div class="col-sm-auto">
      <a href="http://demo.edong.com"><img src="/assets/img/topb_03.jpg" alt="logo"></a>
      <img src="/assets/img/header_slogan.gif" alt="动画">
    </div>

    <div class="col-sm-auto">
      <ul class="nav header-nav">
        <li class="nav-item">
          <a href="http://demo.edong.com/yun.php" class="nav-link">壹动云</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/idc.php" class="nav-link">云数据中心</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/company_use.php" class="nav-link">企业应用</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/scheme.php" class="nav-link">解决方案</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/cdn.php" class="nav-link">CDN</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/sp_line.php" class="nav-link">专线</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/beian.php" class="nav-link">备案</a>
        </li>
        <li class="nav-item">
          <a href="http://demo.edong.com/help.php" class="nav-link">帮助中心</a>
        </li>
      </ul>
    </div>
  </div>
</div>
