<footer class="footer">
  <div class="container text-center">
    <div>
      <a href="http://demo.edong.com/about.php" target="_blank">关于我们</a><span class="mx-1">|</span>
      <a href="http://demo.edong.com/customer.php" target="_blank">典型客户</a><span class="mx-1">|</span>
      <a href="http://demo.edong.com/pay.php" target="_blank"> 支付方式</a><span class="mx-1">|</span>
      <a href="http://demo.edong.com/contact.php" target="_blank"> 联系我们 </a>
    </div>
    <div>沪ICP备08013141号 《中华人民共和国增值电信业务经营许可证》 编号：沪B2-20040029号 苏B2-20070048号</div>
    <div>©2013~2015 中国E动网（edong.com）版权所有（上海欧网网络科技发展有限公司）</div>
  </div>
</footer>
