/* global setting */

html {
  font-size: 14px;
}

a {
  color: #31b0d5;
}

a:hover,
a:focus {
  color: #2aabd2;
}


/* background */

.bg-white {
  background-color: #fff;
}


/* border-radius */

.not-rounded-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


/* form */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  box-shadow: 0 0
}

input[type="checkbox"]:focus,
input[type="radio"]:focus,
a:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

input.ng-invalid:not([ngbDatepicker]),
input.ng-invalid[ngbDatepicker][required],
select.ng-invalid {
  border-left: 5px solid #a94442;
}


/*alert*/

.alert-warning-custom {
  border-left: 4px solid #FFC193;
  font-size: 0.8rem;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.5rem;
  margin: 0;
}


/* navbar */

.navbar-inverse .navbar-nav span.nav-link {
  color: rgba(255, 255, 255, 0.75);
}


/* card */

.card-header+.list-group {
  margin-top: -1px;
}

div.card-header .btn {
  margin: -0.5rem 0;
}

.card-white {
  border: 0;
  margin-bottom: 20px;
}

.card-white>.card-header {
  background: transparent;
  font-size: 1.15rem;
  padding: 0.75rem 1rem;
  line-height: 1.1;
}

.card-white>.card-footer {
  background: transparent;
}

.card .detail-info {
  padding: 0.75rem 0;
}

.card>.detail-info:nth-child(even) {
  background: #f8f8f8;
}

.card>div>.detail-info:nth-child(odd) {
  background: #f8f8f8;
}

.card-pl-5>.card-header,
.card-pl-5>.card-footer {
  padding-left: 5.5rem;
}

.card-pl-5 .detail-info {
  padding-left: 5.5rem;
}


/* table */

.table th,
.table td {
  vertical-align: middle;
}

.table-detail,
.table-bordered-custom {
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

.table-detail th,
.table-detail td {
  padding: 8px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
}

.table-bordered-custom th,
.table-bordered-custom td {
  padding: 8px;
  line-height: 1.42857143;
  border-bottom: 1px solid #ddd;
  border-top: 0;
}

.table-bordered-custom thead th,
.table-bordered-custom thead td {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.table-bordered-custom tbody tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.table-bordered-custom tbody+tbody {
  border-top: 1px solid #ddd;
}


/*spinner*/

html,
body {
  height: 100%
}

.spinner-container {
  height: 100%;
  width: 100%;
  background-color: #1abc9c;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 60px;
  margin-top: -30px;
  margin-left: -40px;
  text-align: center;
}

.spinner>div {
  background-color: #fff;
  height: 100%;
  width: 7px;
  margin-right: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* tab-line */

.tab-line>.nav-tabs {
  background: #f8f8f8;
  border-bottom: 0.2rem solid transparent;
  padding-left: 5rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.tab-line .nav-item {
  margin-bottom: -0.2rem;
  margin-right: 5rem;
}

.tab-line .nav-link {
  border: 0;
  background: transparent;
  color: #292b2c;
  padding: 0.5rem 1.75rem 0.3rem;
}

.tab-line .nav-link.active,
.tab-line .nav-item.show .nav-link {
  background: transparent;
  color: #31b0d5;
  border-bottom: 0.2rem solid #31b0d5;
}


/* login */

.login-card {
  width: 300px;
  padding-top: 50px;
  color: #666
}

.login-card .card {
  box-shadow: 0 4px 6px #ddd;
}

.login-card .card-header {
  border: 0
}

.login-card .card-block {
  padding-top: 40px;
}

.login-card .form-group {
  margin: 0
}

.login-card .placeholder {
  height: 33px;
  line-height: 33px;
}

.login-card a {
  color: #666;
}

.login-card a:hover {
  color: #0275d8
}
